
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWeekLabel">Create or edit a Week</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.week.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.week.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year" min="2000" max="2200" ng-min="2000" ng-max="2200"
                    ng-model="vm.week.year"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number">Number</label>
            <input type="number" class="form-control" disabled="true" name="number" id="field_number" min="1" max="53" ng-min="1" ng-max="53"
                    ng-model="vm.week.number"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_monday">Monday</label>
            <input type="number" class="form-control" name="monday" id="field_monday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.monday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tuesday">Tuesday</label>
            <input type="number" class="form-control" name="tuesday" id="field_tuesday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.tuesday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_wednesday">Wednesday</label>
            <input type="number" class="form-control" name="wednesday" id="field_wednesday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.wednesday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_thursday">Thursday</label>
            <input type="number" class="form-control" name="thursday" id="field_thursday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.thursday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_friday">Friday</label>
            <input type="number" class="form-control" name="friday" id="field_friday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.friday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_saturday">Saturday</label>
            <input type="number" class="form-control" name="saturday" id="field_saturday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.saturday"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sunday">Sunday</label>
            <input type="number" class="form-control" name="sunday" id="field_sunday" min="0" max="24" ng-min="0" ng-max="24"
                    ng-model="vm.week.sunday"
                    />
        </div>

        <div class="form-group">
            <label for="field_user">User </label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.week.user" ng-init="vm.users[vm.account]" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.week.project" ng-options="project as project.name for project in vm.projects track by project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
